/* global */
  * {
    scrollbar-width: auto;
    scrollbar-color: #fac74f #ffffff;
  }

  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #fac74f;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #757075;
    background-color: #fcfcfc;
    overflow-x: hidden;
}

.errors {
    color: red;
    font-size: 13px;
    margin: 3px;
}

.no-errors {
    margin: 13px;
}

button {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Nav */

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    /* height: 75px; */
}

#logo {
    width: 230px;
    height: 60px;
    border-radius: 10px;
    overflow: none;
}

.search-form {
    display: flex;
    width: 70%;
    position: relative;
}

.search-input {
    width: 100%;
    background-color:rgb(255, 246, 207);
    border-radius: 40px;
    height: 45px;
    align-items: center;
    padding-left: 10px;
    column-gap: 5px;
    font-size: 18px;
    margin-right: 10px;
    margin-left: 10px;
    height: 40px;
    font-size: 17px;
    color: #000000b3 ;
    border: none;
    background-color: #fcec9e;
}

.search-input:focus {
    outline: 2.5px solid #f9c54d;
    border: 2.5px solid white;
}

.search-button {
    height: 37px;
    width: 37px;
    border-radius: 23px;
    border: none;
    font-size: 18px;
    background-color: #878687;
    color:#f9c54d;
    position: absolute;
    right: 0;
    margin: 5px 16px 0px 0px;
}

.search-button-hidden {
    display: none;
}

.nav-profile-share {
    display: flex;
    justify-content: space-between;
    column-gap: 35px;
}

.nav-profile-share > button {
    background-color: #f9c54d;
    height: 40px;
    width: 120px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    color: #757075;
}

.nav-profile-share > button:hover {
    border: 3px solid #878687;
    cursor: pointer;
}

.profile-dropdown {
    display: flex;
    flex-direction: column;
}

.profile-dropdown-button {
    height: 40px;
    width: 60px;
    border-radius: 10px;
    border: none;
    font-size: 24px;
    background-color: #878687;
    color:#f9c54d;
}

.profile-dropdown-button:hover {
    border: 3px solid #f9c54d;
    cursor: pointer;
}

.profile-dropdown > button {
    width: 90px;
    height: 35px;
    margin-top: 5px;
    border-radius: 10px;
    border: none;
    color:#f9c54d;
    font-size: 16px;
    background-color: #878687;
}

.profile-dropdown > button:hover {
    border: 3px solid #f9c54d;
    cursor: pointer;
}

.hidden {
    display: none;
}

.profile-dropdown {
    position: absolute;
    background-color: rgb(255, 246, 207);
    z-index: 10;
    right: 30px;
    width: fit-content;
    border-radius: 10px;
    border: 3px solid #878687;
    list-style-type: none;
    margin-top: 0px 0px;
    padding: 12px;
    text-align: center;
}

.profile-dropdown-welcome {
    padding: 4px;
    font-size: 18px;
}
.profile-dropdown-email {
    padding: 4px;
    font-size: 15px;
    border-bottom: 2px solid #878687;
    padding-bottom: 13px;
    margin-bottom: 10px;
}

.profile-page-link {
    text-decoration: none;
    font-size: 17px;
    padding: 10px;
    color: #878687;
    border-bottom: 2px solid #878687;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 13px;
    margin-bottom: 10px;
}

.profile-page-link:hover {
    color:#f9c54d;
    background-color: #878687;
    border-radius: 10px;
    cursor: pointer;
}

.profile-dropdown-logout {
    width: 90px;
    height: 35px;
    margin-top: 28px;
    border-radius: 10px;
    border: none;
    color:#f9c54d;
    font-size: 16px;
    background-color: #878687;
}

.profile-dropdown-logout:hover {
    border: 3px solid #f9c54d;
    cursor: pointer;
}

.form-modal-container{
    display: flex;
    flex-direction: column;
    overflow: scroll;
    height: fit-content;
    max-height: 825px;
}

/* .search-div {
    display: flex;
    width: 72%;
    background-color:rgb(255, 246, 207);
    border-radius: 25px;
    height: 45px;
    align-items: center;
    padding-left: 10px;
    column-gap: 5px;
    font-size: 18px;
    margin-right: 10px;
    margin-left: 10px;
} */

/* modals */

#modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #modal-background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
  }

  #modal-content {
    position: absolute;
    background-color:white;
    border-radius: 10px;
  }


/* card layout */

.my-masonry-grid {
    /* display: -webkit-box; Not needed if autoprefixing */
    /* display: -ms-flexbox; Not needed if autoprefixing */
    display: flex;
    justify-content: center;
    margin-top: 20px; /* gutter size offset */
    width: auto;
  }
  .my-masonry-grid_column {
    padding: 6px; /* gutter size */
    background-clip: padding-box;
    min-width: 265px;
  }

  /* Style your items */
  .my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
    margin-bottom: 10px;
    margin: 15px;
  }

/* Recipe Card */

.recipe-card-container {
    position: relative;
    width: 100%;
    min-width: 265px;
}

.recipe-card-container > button {
    border: none;
    background-color: white;
    /* width: 100%; */
}

#recipecard-image-button {
    border: none;
    background-color: white;
    width: 100%;
}

.recipe-card-container > button > img:hover {
    filter: brightness(50%);
    z-index: -1;
    cursor: pointer;
}

.small-card-button {
    position: absolute;
    right: 17px;
    top: 13px;
    width: 60px;
    height: 27px;
    border-radius: 10px;
    font-size: 17px;
    color: #575357;
    z-index: 2;
}

.small-card-button:hover {
    border: 2px solid #878687;
    cursor: pointer;
}

.unsave {
    width: 70px;
    height: 30px;
    font-size: 16px;
}

.hide-button{
    display: none;
}

.edit-delete-container {
    position: absolute;
    justify-content: space-between;
    display: flex;
    width: 85%;
    right: 17px;
    bottom: 13px;
}

.hide-container > button {
    display: none;
}

.edit-delete-container > button {
    width: 70px;
    height: 30px;
    border-radius: 10px;
    font-size: 16px;
    border: none;
    background-color: #f9c54d;
}

.recipecard-image {
    width: 100%;
    border-radius: 15px;
}

.recipecard-image-button {
    width: 265px;
    border: none;
}


/* recipe details */

.details-main-container {
    display: flex;
    /* max-width: 900px;
    min-width: 900px; */
    width: 900px;
    max-height: 600px;
    column-gap: 20px;
    border-radius: 15px;
    overflow: hidden;
    height: 600px;
    color: #757075;
    position: relative;
}

.details-image-container {
    height: 100%;
    width: 48%;
    padding: 0px;
    margin: 0px;
}

.details-image-container > img {
    height: 100%;
    width: 100%;
}

.details-save-unsave {
    background-color: #f9c54d;
    padding: 10px 0px;
    width: 85px;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    color: #757075;
    margin: 15px 20px 3px 0px;
    align-self: flex-end;
}

.details-save-unsave:hover {
    border: 3px solid #878687;
    cursor: pointer;
    margin-bottom: 0px;
    padding: 8.5px 0px;
}

.details-info-container {
    overflow: scroll;
    width: 48%;
    min-width: 290px;
    display: flex;
    flex-direction: column;
}

.details-section-header{
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.details-ingredient-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    align-items: flex-start;
    padding-left: 20px;
    row-gap: 8px;
}

.details-ingredient-list > li:before {
    content: "\f7fb";
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
    font-size: 12px;
    margin-right: 8px;
    color:#878687;
}

.details-instructions-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 30px;
}


.single-instruction {
    margin: 8px 0px;
}

/* login form */

.login-modal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 90%;
    font-size: 18px;
}

.login-button {
    background-color:#f9c54d;
    width: 200px;
    height: 50px;
    font-size: 20px;
    border-radius: 10px;
    color: #757075;
    border: none;
    align-self: center;
    margin: 5px 0px 25px 0px;
}

.login-button:hover {
    border: 3px solid #878687;
    cursor: pointer;
}

.demo-button {
    width: 200px;
    height: 50px;
    font-size: 20px;
    border-radius: 10px;
    color: #878687;
    border: none;
    align-self: center;
    margin-bottom: 20px;
    color: rgb(250, 199, 79);
    background-color: #878687;
}

.demo-button:hover {
    border: 3px solid #f9c54d;
    cursor: pointer;
}

/* signup form */

.signup-modal-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
}

.signup-form {
    display: flex;
    flex-direction: column;
    width: 90%;
    font-size: 18px;
}

.signup-label-container {
    display: flex;
    font-size: 20px;
    row-gap: 5px;
    flex-direction: column;

}

.signup-button {
    margin: 40px 0px 25px 0px;
}

/* recipe form */

.form-modal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 650px;
}

.recipe-form {
    display: flex;
    flex-direction: column;
    width: 90%;
    font-size: 18px;

}

.form-label-container {
    display: flex;
    font-size: 20px;
    row-gap: 5px;
    flex-direction: column;
    margin-bottom: 5px;
}

.form-time-servings-div {
    display: flex;
    justify-content: center;
    column-gap: 30px;
    margin-top: 15px;
}

#cook-time,
#prep-time,
#servings {
    width: 60px;
    height: 25px;
    text-align: center;
    font-size: 17px;
}

.ingredients-form-header {
    font-size: 21px;
    margin-bottom: 0px;
}

.instructions-form-header {
    font-size: 21px;
}

.ingredient-headers {
    display: flex;
    /* justify-content: space-around; */
    column-gap: 70px;
    margin-bottom: 10px;
}

#amount {
    width: 40px;
}

#unit {
    border-radius: 8px;
    border: 2.5px solid #9f9292;
}

.ingredients-input-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.instructions-input-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.form-input {
    border-radius: 8px;
    height: 30px;
    font-size: 17px;
    color: #000000b3 ;
    border: 2.5px solid #878687;
    background-color: rgb(255, 246, 207);
}

.form-input:hover {
    border: 2.5px solid #f9c54d;
    cursor: text;
}

.form-input:focus {
    outline: 2.5px solid #f9c54d;
    border: 2.5px solid white;
}

#description {
    height: 100px;
}

.remove-add-row {
    font-size: 14px;
}

.remove-add-row:hover {
    color: #f9c54d;
    cursor: pointer;
}

.instructions-div {
    display: flex;
    flex-direction: column;
}

#instruction {
    width: 450px;
}

.submit-button {
    background-color:#f9c54d;
    width: 200px;
    height: 50px;
    font-size: 20px;
    border-radius: 10px;
    color: #757075;
    border: none;
    align-self: center;
}

.submit-button:hover {
    border: 3px solid #878687;
    cursor: pointer;
}

.add-a-step:hover {
    color:#f9c54d;
    cursor: pointer;
}

.num-errors {
    display: flex;
    color: red;
    font-size: 13px;
    margin: 3px;
}

.no-num-errors {
    display: flex;
    margin: 13px, 0px;
}

/* profile page */

.profile-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
}

.profile-user-info {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    text-align: center;
    margin: 30px;
}

.profile-name {
    font-size: 30px;
}

.shared-saved-div {
    display: flex;
    column-gap: 10px;
    font-size: 20px;
}

.shared-saved-span {
    padding: 3px;
}

#shared-toggle:hover,
#saved-toggle:hover {
    color: #f9c54d;
    cursor: pointer;
}

.selected {
    border-bottom: 4px solid #f9c54d;
}

.empty-profile-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.empty-profile-prompt {
    font-size: 20px;
    margin: 20px;
}

.empty-profile-link {
    display: flex;
    color: #878687;
    text-decoration: none;
    background-color: #f9c54d;
    width: 180px;
    height: 50px;
    border: none;
    border-radius: 10px;
    font-size: 27px;
    margin: 20px;
    justify-content: center;
    align-items: center;
}

.empty-profile-div > button {
    background-color: #f9c54d;
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 10px;
    font-size: 27px;
    margin: 20px;
}
.empty-profile-link:hover,
.empty-profile-div > button:hover {
    border: 3px solid #878687;
    cursor: pointer;
}


/* delete modal */
.delete-modal {
    height: 250px;
    width: 326px;
    overflow: hidden;
}

.delete-prompt {
    font-size: 18px;
    margin: 0px 10px;
    text-align: center;
}

.delete-submit-button {
    background-color:#f9c54d;
    width: 200px;
    height: 50px;
    font-size: 20px;
    border-radius: 10px;
    align-self: center;
    margin-bottom: 10px;
}

/* comments */

.details-comments-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    align-items: flex-start;
    padding: 0px 0px 70px 15px;
    row-gap: 5px;
}

.details-comments-list > li:before {
    content: "\f787";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 23px;
    margin-right: 8px;
    color:#878687;
}

.single-comment {
    margin: 8px;
}

.comment-input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    bottom: 0;
    background-color: #fcfcfc;
    width: 450px;
}

.comment-form {
    display: flex;
    column-gap: 5px;
    margin: 0px 0px 5px 2px;
    padding-left: 0px;
    width: 98%;
    overflow-x: hidden;

}

.create-comment-input {
    width: 100%;
    height: 25px;
    margin: 2px;
}

.submit-comment-button {
    height: 34px;
    width: 40px;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    background-color: #878687;
    color:#f9c54d;
}

.total-comments {
    font-weight: bold;
    margin: 12px 0px 0px 0px;
    font-size: 18px;
}

.no-user-total-comments {
    margin-bottom: 10px;
}

.no-comment-errors {
    margin: 8px;
}

.edit-delete-comment-div {
    display: flex;
    column-gap: 5px;
    margin: 3px 0px 0px 24px;
}

.edit-comment-button {
    height: 20px;
    width: 27px;
    border-radius: 5px;
    border: none;
    font-size: 12px;
    background-color: #878687;
    color:#f9c54d;
}

.delete-comment-button {
    height: 20px;
    width: 27px;
    border-radius: 5px;
    border: none;
    font-size: 12px;
    background-color: #878687;
    color:#f9c54d;
}

.edit-comment-form {
    display: flex;
    column-gap: 5px;
    margin: 0px 0px 5px 2px;
    padding-left: 0px;
    width: 390px;
    overflow-x: hidden;
}

.edit-comment-input {
    min-height: 34px;
    width: 90%;
}

.cancel-submit-edit-comment-div {
    display: flex;
    flex-direction: column;
    row-gap: 2px;
    justify-content: flex-end;
}

.submit-edit-comment-button {
    height: 20px;
    width: 27px;
    border-radius: 5px;
    border: none;
    font-size: 12px;
    background-color: #878687;
    color:#f9c54d;
}

.cancel-edit-comment-button {
    height: 20px;
    width: 27px;
    border-radius: 5px;
    border: none;
    font-size: 12px;
    background-color: #878687;
    color:#f9c54d;
}
