/* global */

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(65, 9, 65);
}

.errors {
    color: red;
}



/* Nav */

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    /* height: 75px; */
}

.nav-profile-share {
    display: flex;
    justify-content: space-between;
    column-gap: 50px;
}

.nav-profile-share > button {
    background-color: #f9c54d;
    height: 40px;
    width: 120px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
}

.nav-profile-share > button:hover {
    border: 3px solid rgb(65, 9, 65);
}

.profile-dropdown-button {
    height: 40px;
    width: 60px;
    border-radius: 5px;
    border: none;
    font-size: 24px;
    background-color: rgb(65, 9, 65);;
    color:#f9c54d;
}

.profile-dropdown-button:hover {
    border: 3px solid #f9c54d;
}

.hidden {
    display: none;
}

.profile-dropdown {
    position: absolute;
    background-color: rgb(255, 246, 207);
    z-index: 10;
    right: 30px;
    width: fit-content;
    border-radius: 7px;
    list-style-type: none;
    margin-top: 0px 0px;
    padding: 12px;
    text-align: center;
}

.profile-dropdown-item {
    padding: 4px;
}

.form-modal-container{
    display: flex;
    flex-direction: column;
    overflow: scroll;
    max-height: 700px;
}

/* modals */

#modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #modal-background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
  }

  #modal-content {
    position: absolute;
    background-color:white;
    border-radius: 10px;
  }


/* card layout */

.my-masonry-grid {
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
    margin-top: 20px; /* gutter size offset */
    width: auto;
  }
  .my-masonry-grid_column {
    padding-left: 0px; /* gutter size */
    background-clip: padding-box;
  }

  /* Style your items */
  .my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
    margin-bottom: 10px;
  }

/* Recipe Card */

.recipe-card-container {
    position: relative;
    width: 100%;
}

.recipe-card-container > button {
    border: none;
    background-color: white;
}

.small-card-button {
    position: absolute;
    right: 17px;
    top: 13px;
    width: 60px;
    height: 27px;
    border-radius: 9px;
    font-size: 17px;
}

.unsave {
    width: 70px;
    height: 30px;
    font-size: 16px;
}

.hide-button{
    display: none;
}

.edit-delete-container {
    position: absolute;
    justify-content: space-between;
    display: flex;
    width: 85%;
    right: 17px;
    bottom: 13px;
}

.hide-container > button {
    display: none;
}

.edit-delete-container > button {
    width: 70px;
    height: 30px;
    border-radius: 9px;
    font-size: 16px;
    border: none;
    background-color: #f9c54d;
}

.recipecard-image {
    width: 100%;
    border-radius: 15px;
}

.recipecard-image-button {
    width: 205px;
    border: none;
}


/* recipe details */

.details-main-container {
    display: flex;
    max-width: 900px;
    max-height: 600px;
    column-gap: 20px;
    border-radius: 10px;
    overflow: hidden;
    height: 600px
}

.details-image-container {
    height: 100%;
    width: 48%;
    padding: 0px;
    margin: 0px;
}

.details-image-container > img {
    height: 100%;
    width: 100%;
}

.details-info-container {
    overflow: scroll;
    width: 48%;
}


/* recipe form */

.form-modal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 650px;
}

.recipe-form {
    display: flex;
    flex-direction: column;
    width: 90%;
    font-size: 18px;

}

.form-label-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

.form-time-servings-div {
    display: flex;
    justify-content: center;
    column-gap: 30px;
}

#cook-time,
#prep-time,
#servings {
    width: 60px;
    height: 25px;
    text-align: center;
    font-size: 17px;
}

.ingredient-headers {
    display: flex;
    justify-content: space-between;
}

#amount {
    width: 40px;
}

#unit {
    border-radius: 6px;
    border: 2.5px solid #9f9292;
}

.ingredients-input-div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.form-input {
    border-radius: 6px;
    border: 2.5px solid #9f9292;
}

.form-input:hover {
    border: 2.5px solid #f9c54d;
}

.form-input:focus {
    outline: 2.5px solid #f9c54d;
    border: 2.5px solid white;
}

#description {
    height: 100px;
}

.remove-add-row:hover {
    color: #f9c54d;
}

.instructions-div {
    display: flex;
    flex-direction: column;
}

#instruction {
    width: 450px;
}

.submit-button {
    background-color:#f9c54d;
    width: 200px;
    height: 50px;
    font-size: 20px;
    border-radius: 10px;
    align-self: center;
}


/* profile page */

.profile-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
}

.profile-user-info {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    text-align: center;
    margin: 30px;
}

.profile-name {
    font-size: 30px;
}

.shared-saved-div {
    display: flex;
    column-gap: 10px;
    font-size: 20px;
}

.shared-saved-span {
    padding: 3px;
}

#shared-toggle:hover,
#saved-toggle:hover {
    color: #f9c54d;
}

.selected {
    border-bottom: 4px solid #f9c54d;
}

.empty-profile-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.empty-profile-prompt {
    font-size: 20px;
    margin: 20px;
}

.empty-profile-link {
    font-size: 30px;
    color: rgb(65, 9, 65);
    text-decoration: none;
}

.empty-profile-link:hover {
    color: #f9c54d;
}

.empty-profile-div > button {
    background-color: #f9c54d;
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 10px;
    font-size: 27px;
    margin: 20px;
}


/* delete modal */
.delete-modal {
    height: 250px;
    width: 326px;
    overflow: hidden;
}

.delete-prompt {
    font-size: 18px;
    margin: 0px 10px;
    text-align: center;
}

.delete-submit-button {
    background-color:#f9c54d;
    width: 200px;
    height: 50px;
    font-size: 20px;
    border-radius: 10px;
    align-self: center;
    margin-bottom: 10px;
}



/* global overwrites */
